{{!< default}}

<div class="sm:px-8 mt-9">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="max-w-2xl">
          {{> "components/home-intro" }}
          <div class="mt-6 flex gap-6">
            <a class="group -m-1 p-1" aria-label="Follow on Twitter" href="https://x.com/byronrode">
              {{> "components/socials/x" }}
            </a>
            <a class="group -m-1 p-1" aria-label="Follow on Instagram" href="https://instagram.com/byronrode">
              {{> "components/socials/instagram" }}
            </a>
            <a class="group -m-1 p-1" aria-label="Follow on GitHub" href="https://github.com/byronrode">
              {{> "components/socials/github" }}
            </a>
            <a class="group -m-1 p-1" aria-label="Follow on LinkedIn" href="https://linkedin.com/in/byronrode">
              {{> "components/socials/linkedin" }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    {{> "components/brands" }}
  </div>
</div>