@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@800&display=swap&family=Work+Sans:wght@400&display=swap');

@font-face {
	font-family: 'Zed Mono Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/assets/fonts/zed-mono/ttf/zed-mono.ttf') format('truetype'), url('/assets/fonts/zed-mono/woff2/zed-mono.woff2') format('woff2');
}

@font-face {
	font-family: 'Zed Mono Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('/assets/fonts/zed-mono/ttf/zed-mono-oblique.ttf') format('truetype'), url('/assets/fonts/zed-mono/woff2/zed-mono-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Zed Mono Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('/assets/fonts/zed-mono/ttf/zed-mono-oblique.ttf') format('truetype'), url('/assets/fonts/zed-mono/woff2/zed-mono-oblique.woff2') format('woff2');
}

