<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    {{>"components/image-cards/standard" image="/assets/images/brands/yebo-fresh.png" }}
    {{>"components/image-cards/standard"}}
    {{>"components/image-cards/standard"}}
    {{>"components/image-cards/standard"}}
    {{>"components/image-cards/standard"}}
  </div>
</div>