<h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
  Byron Rode &mdash;<br/>Father. Human. Technology. Product.
</h1>
<p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
  Over the last two decades I’ve built a career focused around product, engineering and technology, and have helped companies realise their technology and product needs.
  <br />
  <a href="/subscribe" class="bg-white hover:bg-white/10 border-2 border-transparent hover:border-2 hover:border-primary-light shadow text-primary-dark hover:text-white p-2 px-4 mt-4 rounded-full inline-block ">How can I help?</a>
</p>

