<div class="mt-6 flex gap-6">
  <a class="group -m-1 p-1" aria-label="Follow on Twitter" href="https://x.com/byronrode" target="_blank">
    {{> "components/socials/x" }}
  </a>
  <a class="group -m-1 p-1" aria-label="Follow on Instagram" href="https://instagram.com/byronrode" target="_blank">
    {{> "components/socials/instagram" }}
  </a>
  <a class="group -m-1 p-1" aria-label="Follow on GitHub" href="https://github.com/byronrode" target="_blank">
    {{> "components/socials/github" }}
  </a>
  <a class="group -m-1 p-1" aria-label="Follow on LinkedIn" href="https://linkedin.com/in/byronrode" target="_blank">
    {{> "components/socials/linkedin" }}
  </a>
</div>